  /* This makes the whole page look simple and clean */
        body {
            margin: 0; /* This gets rid of extra space around the page */
            font-family: Arial, sans-serif; /* This changes the font to something easy to read */
            background-color: #eef2f7; /* This gives the page a soft gray-blue background */
            color: #1f2937; /* This makes the text dark and easy to read */
            font-size: medium;
            font-weight: 100;
            line-height: normal;
            font-style: normal;
        }

        /* This is the top part of the page */
        header {
            background-color: #1e3a8a; /* This makes the header a deep blue */
            color: white; /* This makes the text white */
            text-align: center; /* This puts the text in the middle */
            padding: 40px 20px; /* This adds space inside the header */
            text-align: center;
            
        }
        

        /* This is the menu bar at the top */
        nav {
            background-color: white; /* This makes the menu white */
            text-align: center; /* This puts the links in the middle */
            padding: 10px; /* This adds some space around the links */
        }

        /* This changes the links in the menu */
        nav a {
            color: #1e3a8a; /* This makes the links a strong blue */
            text-decoration: none; /* This removes the underline */
            margin: 0 10px; /* This adds space between the links */
        }

        /* This is for each section of the page */
        section {
            padding: 20px; /* This adds space inside each section */
            margin: 20px; /* This adds space outside each section */
            background-color: white; /* This makes each section white */
            border: 1px solid #ddd; /* This adds a thin border */
            border-radius: 40px;
            text-align: center;
            text-decoration: none;
        }

        /* This changes the main titles ccolor */
        
        h1{
            color: #111827;
        }
    
        h2 {
            color: #111827; /* This makes the titles dark and bold */
        }

        /* This removes the bullet points from lists */
        ul {
            list-style: none;
            padding-left: 0;
        }

        /* This is the bottom part of the page */
        footer {
            text-align: center; /* This puts the footer text in the middle */
            padding: 20px; /* This adds space inside the footer */
            background-color: #111827; /* This makes the footer dark and strong */
            color: white; /* This makes the footer text white */
            border-radius: 40px;
        }

        /* This styles the images */
        img {
            border-radius: 40px;
        }